/* ------ general
-----------------------------------------------*/

body {
font-family:Arial, Helvetica, sans-serif;
background:#F1F1F1;
}

/* ------ mobilyblocks
-----------------------------------------------*/


.socials {
display:block;
width:32px;
height:32px;
background:url(../img/socials/share.png) no-repeat;
cursor:pointer;
position:relative;
}

.nature {
display:block;
width:150px;
height:150px;
background:url(../img/age/Omologenie_organizma.jpg) no-repeat;
background-size: cover;
border-radius: 50%;
cursor:pointer;
position:relative;
}

.socials, .nature {
margin:0 auto;
}

.socials {
margin-bottom:50px;
}

ul.reset,
ul.reset li {
display:block;
list-style:none;
padding:0;
margin:0;
}

ul.reset li {
position:absolute;
}

ul.reset li a {
outline:none;
}

#content {
margin:100px auto 0;
width:560px;
}


a {
color:#fff;
}

a img {
border:none;
border-radius: 50%;
height:150px;
}

li > a{
	height: 154px;
	display: block;
}

.reset > li:hover{
	border-radius: 50%;
	box-shadow: 0px 0px 25px 0px #ff00bb;
	-webkit-box-shadow: 0px 0px 25px 0px #ff00bb;
	-moz-box-shadow: 0px 0px 25px 0px #ff00bb;
	opacity: 1;
}

.reset > li{
	opacity: 0.5;
}

.custom-circle-font{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
	font-weight: normal;
	font-style: italic;
	color: #FFA8E8;
	background-color: transparent;
	border: 2px dashed #FFA8E8;
	letter-spacing: -1pt;
	word-spacing: -3pt;
	font-size: 35px;
	text-align: center;
	font-family: palatino linotype, palatino, serif;
	line-height: 2;
	margin-top: -156px;
	height: 115px;
	border-radius: 50%;
	width: 150px;
	margin-left: -2px;
	padding-top: 35px;
	z-index:999999;
}

.custom-caption{
text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
font-weight: normal;
font-style: italic;
color: #FFA8E8;
border: 1px solid #FFA8E8;
font-size: 35px;
text-align: center;
font-family: palatino linotype, palatino, serif;
line-height: 2;
height: 115px;
border-bottom-left-radius: 50%;
width: 50%;
margin: 0 auto;
border-bottom-right-radius: 50%;
border-top: 0;
background-color: #FEFEfE;
margin-bottom: 180px;
box-shadow: 0px 0px 15px 0px #666666;
-webkit-box-shadow: 0px 0px 15px 0px #666666;
-moz-box-shadow: 0px 0px 15px 0px #666666;
}

.trigger{
	border: 1px solid #FFA8E8;
	border-radius: 50%;
}

.trigger:hover{
	box-shadow: 0px 0px 25px 0px #ff00bb;
	-webkit-box-shadow: 0px 0px 25px 0px #ff00bb;
	-moz-box-shadow: 0px 0px 25px 0px #ff00bb;
}

body{
	margin: 0;
	padding: 0;
}

.step2{
	display: none;
	text-align: center;
}

#amount{
	font-size: 35px;
	width: 120px;
	margin-top:15px;
	margin-bottom:15px;
	background: transparent;
}